body{
		background-color:white;;
    	font-family: 'Nunito', sans-serif;}
      
 
 
#mainNavbar .navbar-brand{
  color:#2F4F4F;
  font-size: 1.5rem;
 font-weight:100;
 
 

}
 
   #mainNavbar .nav-link {  /*background-color:#2F4F4F;   */
  font-size: 1.5rem;
 font-weight:100; 
 color:#2F4F4F;

}
#mainNavbar .nav-link:hover{
  color:#66fcf1;
}




#glyph{
  color:#2F4F4F;
  font-size:2rem;
}
.firstwords{
  font-weight:100;
  font-size:1.25;
  line-height:2;
}
h2{
  font-weight:100;
  font-size:2.5rem;
}
#heading-group span{
  color:#2F4F4F;
}
#heading-group h1 {
  font-weight:100;
  font-size:4rem;

}
@media (max-width: 1200px){
  #heading-group h1{
    font-weight:100;
    font-size:3rem;
  }}

.content{
  margin-top:100px;
}


.navbar.scrolled {
    background: rgb(193, 202, 151);
    transition: background 500ms;
}